<h1>Calculation</h1>
<h2><%= params[:word] %></h2>
<h2><%= params[:letters] %></h2>

<h2><%= @answer %></h2>
<h2><%= @body %></h2>
<h2><%= @error %></h2>

<a href="/game" class="play-again">Play again</a>
